# ========== TEMELJNE POSTAVKE ==========
spring:
  application:
    name: backend

  # ====== POSTAVKE BAZE PODATAKA ======
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}


# ========== SERVER CONFIGURATION ==========
server:
  port: ${PORT:8080}
#  forward-headers-strategy: framework
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

# ========== LOGGING LEVELS ==========
#logging:
#  level:
#    root: DEBUG
#    org:
#      springframework:
#        web: DEBUG
#        security: DEBUG
#        security.oauth2: DEBUG
#        .: DEBUG
#      hibernate: DEBUG

frontend:
  url: ${FRONTEND_URL:http://localhost:5173}
#backend:
#  url: ${BACKEND_URL:http://localhost:8080}





