.map-container {
  height: 500px;
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}
.mapa{
    display: flex;
    justify-content: center;
    width:100%;
    
}
.dodaj_goste{
    margin-top:20px;
    padding:10px;
    background-color:#1976d2;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}
